{% block navbar %}
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height:100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Address Book</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="{{ path('addresses') }}" class="nav-link text-white"><i class="fas fa-address-book fa-lg"></i>
                    <span style="margin-left: 5px">All Contacts</span>
                </a>
            </li>
            <li>
                <a href="{{ path('address/add') }}" class="nav-link text-white"><i class="fas fa-plus-square fa-lg"></i>
                    <span style="margin-left: 5px">Add New</span>
                </a>
            </li>
            <li>
                <a href="{{ path('users_querylists') }}" class="nav-link text-white"><i class="fas fa-share-alt fa-lg"></i>
                    <span style="margin-left: 5px">My shares</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ app.user.imageFileName is not empty ? app.user.imagePath|imagine_filter('squared_thumbnail_small') : asset('empty_avatar.png')}}" alt="#" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ app.user }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="{{ path('user_edit_profile') }}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
