{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form, { 'attr' : { 'class': 'row flex-column' } }) }}
<h2 class="col-md-3 offset-md-4" style="margin-top: 50px">Sharing is caring</h2>
<div class="my-custom-class-for-errors col-md-3 offset-md-4">
    {{ form_errors(form) }}
</div>
<div class="col-md-4" style="margin: auto">
    {{ form_row(form.receiver) }}
</div>
    <div class="col-md-4" style="margin: auto">
        <div>
            <label for="query_list_contact">Contact</label>
            <input class="form-control" id="query_list_contact" type="text" value="{{ addressBook.name }}" disabled="disabled">
        </div>
    </div>
<div class="col-md-3 offset-md-4" style="margin-top: 10px;">
    <button class="btn btn-primary" type="submit">Share</button>
</div>
{{ form_end(form) }}
{% endblock %}
