{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">phone</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <th scope="row">{{ item.name }}</th>
                        <td>{{ item.number }}</td>
                        <td><a class="btn-primary btn" href="{{ path('address/edit', { id : item.id }) }}">EDIT</a></td>
                        <td><a class="btn-primary btn" href="{{ path('address/show', { id : item.id }) }}">SHOW</a></td>
                        <td><form method="post" action="{{ path('address/delete', {id : item.id}) }}"><button class="btn btn-primary" name="id">DELETE</button></form></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

