{% extends 'base.html.twig' %}
{% block body %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ addressBook.name }}</h5>
            <p class="card-text">{{ addressBook.number }}</p>
            <div>
                <a style="display: inline-block" class="btn-success btn-sm btn"
                   href="{{ path('address/edit', { id : addressBook.id }) }}"><i class="fas fa-edit"></i></a>
                <form style="display: inline-block" method="post"
                      action="{{ path('address/delete', {id : addressBook.id}) }}">
                    <button onclick="return confirm('Are you sure you want to delete this contact?');"
                            class="btn-sm btn-danger btn" name="id"><i class="fas fa-trash"></i></button>
                </form>
                <form style="display: inline-block" method="post"
                      action="{{ path('querylist_share', {addressBook : addressBook.id}) }}">
                    <button class="btn-secondary btn share-button btn-sm" name="addressBook"><i
                                class="fas fa-share-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}